/* line 2, ../sass/nav.scss */
.navbar {
  margin-bottom: 0;
}
/* line 4, ../sass/nav.scss */
.navbar .navbar-brand {
  padding-left: 40px;
  width: 300px;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 4, ../sass/nav.scss */
  .navbar .navbar-brand {
    padding: 20px;
    float: none;
    margin: 0 auto;
  }
}
/* line 14, ../sass/nav.scss */
.navbar .nav-message {
  font-family: Dosis;
  font-size: 1.2em;
  position: absolute;
  right: 40px;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 14, ../sass/nav.scss */
  .navbar .nav-message {
    width: 100%;
    right: 0;
    text-align: center;
  }
}
/* line 30, ../sass/nav.scss */
.navbar .navbar-nav li a {
  color: #000;
  font-weight: 500;
  font-size: 1.2em;
}
/* line 34, ../sass/nav.scss */
.navbar .navbar-nav li a:after {
  height: 3px;
  content: '';
  display: block;
  background-color: #9f5884;
  transition: all .5s;
  width: 0;
  transition: all 500ms cubic-bezier(1, -0.57, 0.38, 1.12);
}
/* line 43, ../sass/nav.scss */
.navbar .navbar-nav li a:hover {
  background-color: transparent;
}
/* line 45, ../sass/nav.scss */
.navbar .navbar-nav li a:hover:after {
  width: 110%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 28, ../sass/nav.scss */
  .navbar .navbar-nav {
    float: none;
    text-align: center;
    margin-bottom: 2em;
  }
  /* line 55, ../sass/nav.scss */
  .navbar .navbar-nav li {
    float: none;
    display: inline-block;
  }
}

/* line 64, ../sass/nav.scss */
.stripes {
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(left, #86364b 0%, #86364b 16%, #9f5884 16%, #9f5884 32%, #5485ae 32%, #5485ae 48%, #4a5372 48%);
}
