@charset "UTF-8";
/* line 1, ../sass/search.scss */
.search-overlay {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: absolute;
  top: 0;
  background: -moz-linear-gradient(45deg, rgba(54, 127, 110, 0.29) 0%, rgba(56, 122, 110, 0.8) 2%, rgba(74, 83, 114, 0.8) 18%, rgba(84, 133, 174, 0.8) 36%, rgba(134, 54, 75, 0.8) 57%, rgba(159, 88, 132, 0.8) 79%, rgba(159, 88, 132, 0.8) 100%);
  background: -webkit-linear-gradient(45deg, rgba(54, 127, 110, 0.29) 0%, rgba(56, 122, 110, 0.8) 2%, rgba(74, 83, 114, 0.8) 18%, rgba(84, 133, 174, 0.8) 36%, rgba(134, 54, 75, 0.8) 57%, rgba(159, 88, 132, 0.8) 79%, rgba(159, 88, 132, 0.8) 100%);
  background: linear-gradient(45deg, rgba(54, 127, 110, 0.29) 0%, rgba(56, 122, 110, 0.8) 2%, rgba(74, 83, 114, 0.8) 18%, rgba(84, 133, 174, 0.8) 36%, rgba(134, 54, 75, 0.8) 57%, rgba(159, 88, 132, 0.8) 79%, rgba(159, 88, 132, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a367f6e', endColorstr='#a39f5884',GradientType=1 );
  transition: all .5s;
  opacity: 1;
  z-index: 999;
}
/* line 14, ../sass/search.scss */
.search-overlay.no-show {
  opacity: 0;
  width: 0;
  height: 0;
  transition: all .5s;
  z-index: -1;
}
/* line 21, ../sass/search.scss */
.search-overlay .container {
  position: relative;
}
/* line 24, ../sass/search.scss */
.search-overlay__close {
  width: 40px;
  height: 40px;
  display: block;
  opacity: 1;
  float: right;
}
/* line 30, ../sass/search.scss */
.search-overlay__close:after {
  content: '×';
  color: #fff;
  font-size: 5em;
  font-weight: 100;
}
/* line 37, ../sass/search.scss */
.search-overlay__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 80%;
  margin-top: 170px;
  font-size: 4em;
}
/* line 45, ../sass/search.scss */
.search-overlay__input::-webkit-input-placeholder {
  color: #fff;
}

/* line 51, ../sass/search.scss */
textarea:focus, input:focus {
  outline: none;
}
